@import url('https://fonts.cdnfonts.com/css/bricolage-grotesque');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #050505;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Bricolage Grotesque', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app {
  display: flex;
  align-self: center;
  max-width: 100vw;
  overflow-y: scroll;
}

.layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.chat-area {
  position: relative;
  display: flex;
  width: calc(100vw - 300px);
  flex-direction: column;
  height: 100%;


}

.chat {
  position: relative;
  overflow: auto;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  height: 100%;

}

.chat ul {
  list-style-type: none;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  color: black;
  position: relative;
  overflow: auto;
}


.chat::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  bottom: 0;
  background: linear-gradient(rgb(255, 143, 178) 0%, rgb(167, 151, 255) 50%, rgb(0, 229, 255) 100%);
  mix-blend-mode: screen;
  pointer-events: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: min(300px, 100%);
  flex-shrink: 0;
  background-color: #eeeeee;
  border-right: 2px solid #aaa;
}

.contact-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 1rem;
  margin-bottom: auto;
}

.contact-requests {
  max-height: 25%;
  overflow-y: auto;
  margin-top: auto;
}

.contact-requests p {
  padding-top: 5px;
  text-align: center;
  font-weight: 500;
  font-size: larger;
}

.contact-request {
  display: flex;
  padding: 5px 10px;
  border-top: 2px solid #aaa;

}

.contact-request_text {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contact-request_buttons {
  display: flex;
  justify-content: space-evenly;
}

.contact-request_btn {
  flex-grow: 1;
  margin: 0 15px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.contact-request_accept {
  background-color: green;
}

.contact-request_decline {
  background-color: rgb(175, 0, 0);
}

.contact {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: rgb(238, 238, 238);
}

.contact-active {
  background-color: rgb(201, 201, 201);
}

.contact:hover {
  background-color: #aaa;
  cursor: pointer;
}

.contact-img {
  width: 64px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 100%;
  flex-shrink: 0;
}

.contact-info {
  min-width: calc(100% - 64px);
  padding-left: 8px;
}

.contact-lastmsg {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.contact-lastmsg p,
.contact-name {
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #050505;
  flex-shrink: 1;
}

.contact-name {
  font-weight: 500;
  margin: 0;
}


.contact-lastmsg_timestamp {
  margin-left: auto;
  padding-right: 5px;
  text-align: right;
  flex-shrink: 0;
}

.contact-add {
  display: flex;
  margin: 0 5px 5px 5px;
}

.contact-add_form {
  height: 50px;
  width: 100%;
  padding-top: 10px;
}

.contact-add_form input {
  width: 0px;
  transition: width 0.2s, visibility 0.2s;
  padding: 10px 0;
  border-radius: 5px;
}

.contact-add_form input:focus-within {
  padding: 10px;
  width: 100%;
}

.contact-add_input {
  border: none;
  height: 100%;
  background-color: #aaa;
  color: black;
}

.contact-add_btn {
  background-color: transparent;
  border: 0;
  color: black;
  margin: 10px 5px 0;
  cursor: pointer;
}

.contact-add_btn:hover {
  color: #337612;
}

.chat-input {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  padding: 5px;
  min-height: 50px;
}

.chat-input form {
  width: 80%;
}

.chat-input_textarea {
  display: flex;
  max-height: 100%;
  justify-content: center;
  font-family: inherit;
  font-size: 1rem;
  flex-grow: 1;
  padding: 0.5em 1em;
  resize: none;
  border-radius: 20px;
  border: 0;
  margin-right: 10px;
  text-align: justify;
  background-color: white;
  color: black;
}

.chat-input_textarea:focus,
.contact-add_input:focus {
  outline: none
}

.chat-input_btn {
  background-color: transparent;
  color: rgb(0, 229, 255);
  display: flex;
  justify-content: center;
  align-self: flex-end;
  border: 0;
  margin-bottom: 7px;
}

.chat-header {
  position: sticky;
  display: flex;
  top: 0px;
  min-height: 70px;
  align-items: center;

  box-shadow: 0px 0px 5px #aaa;
  z-index: 1
}

.header-img {
  margin: 0px 5px;
}

.message {
  padding: 5px 10px;
  margin: 2px;
  border-radius: 20px;
  width: fit-content;
  max-width: 60%;
  overflow-wrap: break-word;
  color: black;
  position: relative;
  z-index: 1;
  background: #eee;
}

.my-message {
  margin-left: auto;
  z-index: 0;
  background: black;
  color: white;
}

.current-user-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid #aaa;
}

.current-user-left {
  display: flex;
}

.current-user-left .contact-name {
  align-self: center;
  margin-left: 8px;
}

.open-menu-button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

.open-menu-button .menu-active {
  transform: rotate(180deg);
  transition: all 0.2s;
}

.open-menu-button .menu-notActive {
  transition: all 0.2s;
}

.menu-active {
  height: 60px;
  transition: height 0.2s;
}

.menu {
  margin: 1rem 0;
  list-style-type: none;
}

.menu li {
  width: 80%;
  margin: 0 auto;
}

.menu-notActive {
  height: 0;
  transition: height 0.2s;
}

.menu-button {
  width: 100%;
  padding: 0.5rem 2rem;
  background-color: transparent;
  border: 2px solid #aaa;
  outline: none;
  border-radius: 1rem;
  color: black;
  cursor: pointer;
}

.mobile {
  visibility: hidden;
  width: 0;
}


@media screen and (width < 767px) {

  .mobile {
    visibility: visible;
    width: fit-content
  }

  .sidebar {
    visibility: hidden;
    width: 0%;
  }

  .sidebar-active {
    visibility: visible;
    width: 100%;
  }

  .chat-area {
    width: 100%;
  }

  .message {
    max-width: 85%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}